img {
  width: 65px;
  height: 65px;
}

.date {
  color: #111;
  font-size: 13px;
  line-height: 12px;
}

.description {
  display: inline;
  font-family: CapitoliumHead,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,"serif";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}
