.slider-heading {
  padding-top: 1em;
  text-align: center;
}
.slider-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px;
  margin: auto;
  max-width: 640px;
}

.emoji-entry {
  margin: auto;
  text-align: center;
}

.emoji-entry img, .emoji-entry div {
  height: 100px;
  min-height: 100px;
}

.emoji-entry div {
  display: flex;
  align-items: center;
  justify-content: center;
}

