.slider-container {
  margin: auto;
  max-width: 640px;
}

.emoji-entry {
  margin: auto;
  text-align: center;
}

.emoji-entry img, .emoji-entry div {
  height: 100px;
  min-height: 100px;
}

.emoji-entry div {
  display: flex;
  align-items: center;
  justify-content: center;
}

